Alexander Rodriguez                            Class Project                                                RIN: 662013581

Date	Price	Open	High	Low	Vol.	Change %

In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
datafile = pd.read_csv('Bitcoin_Historical_Data_Investing.csv')
display(datafile)

           Date      Price       Open       High        Low     Vol. Change %
0     23-Mar-23  28,144.00  27,262.80  28,734.10  27,144.60  160.43K    3.24%
1     22-Mar-23  27,261.70  28,114.20  28,760.30  26,668.70  262.03K   -3.03%
2     21-Mar-23  28,114.00  27,719.80  28,437.80  27,350.60  438.78K    1.42%
3     20-Mar-23  27,720.50  27,958.90  28,457.80  27,157.00  503.90K   -0.85%
4     19-Mar-23  27,958.70  26,914.50  28,347.30  26,844.60  393.27K    3.88%
...         ...        ...        ...        ...        ...      ...      ...
4627  22-Jul-10        0.1        0.1        0.1        0.1    2.16K    0.00%
4628  21-Jul-10        0.1        0.1        0.1        0.1    0.58K    0.00%
4629  20-Jul-10        0.1        0.1        0.1        0.1    0.26K    0.00%
4630  19-Jul-10        0.1        0.1        0.1        0.1    0.57K    0.00%
4631  18-Jul-10        0.1          0        0.1        0.1    0.08K    0.00%

[4632 rows x 7 columns]